<table width="100%" border="0" cellpadding="0" cellspacing="20">
  <tr>
    <td style="vertical-align: top;"  rowspan="2"><%= image_tag "book.jpg" %></td>
    <td  rowspan="2"><h3>Твердый переплет</h3>
        <p>Срочная сшивка или твердый переплет дипломов и диссертаций.  Мы выполняем  твердый переплет дипломных работ, диссертаций, любых важных для вас  документов оперативно в течение 5 минут с использованием новой универсальной системы "металбинд". Переплет металлическими каналами это надежный, безопасный, элегантный и универсальный способ переплета документов.
100% надежный переплет, так как обложки и листы надежно зажимаются в металлическом канале. При необходимости наш переплет можно разжать и сброшюровать заново, заменить или добавить несколько листов.</p>
<p>Абсолютно безопасный переплет для документов, поскольку листы не перфорируются, не сшиваются, не склеиваются, а от металлического канала отделяются обложками. С помощью нашего переплета можно переплетать даже самые ценные оригиналы документов, потому что после разжимания они остаются в идеальном состоянии.</p>
<p>Очень элегантный переплет, удовлетворяющий самым высоким требованиям. Лицевая сторона брошюры никак не деформируется, брошюра всегда сохраняет прекрасный вид. Независимо от используемых обложек, металлический канал делает брошюру устойчивой, что позволяет ее ставить на полку.</p>
<p>Универсальный переплет, позволяющий комбинировать на любой вкус и кошелек верхние и нижние обложки. Можно переплести ваши документы в дешевые мягкие обложки, как при переплете пластиковой пружиной, либо в представительские твердые обложки. Нашим переплетом можно соединять документы и вовсе без обложек.</p>
<p>На ваш выбор обложки нескольких цветов: бордо, черный, зеленый, синий и серый.</p></td>
    <td style="vertical-align: top;"><%= image_tag "note.jpg" %></td>
    <tr>
    <td style="vertical-align: bottom;"><%= image_tag "notebook.jpg" %></td>
    </tr>
  </tr>
  <tr>
    <td  style="vertical-align: top;"><%= image_tag "note1.jpg" %></td>
    <td><h3>Переплет на металлическую пружину</h3>
    <p>Переплет пружиной – это один из наиболее удобных и надежных способов переплести презентацию, диплом, реферат и многое другое. Удобной особенностью такого переплета является то, что листы такого печатного издания будут независимы друг от друга, а так же металлическая пружина обеспечивает полное раскрытие без корешка.</p>
<p>Пружина позволяет соединять в одном альбоме листы  разной плотности. </p>
<p>Максимальная толщина переплета –120 листов офисной бумаги.  Переплет на металлическую пружину более надежен, чем на пластиковую, и прослужит он гораздо дольше. Также такой переплет имеет более презентабельный вид!</p>
<p>Раскрытые листы всегда лежат в одной плоскости. Переплетенный документ легко раскрывается на 360°</p>
<p>На металлическую пружину обычно переплетают различную рекламную продукцию: блокноты, меню, презентации,  настольные и квартальные календари, календари с ригелями.</p></td>
    <td>&nbsp;</td>
  </tr>
</table>