<div id="footer">
	<p>© 2009 – 2011 Оперативная типография.<br/> 
Все права защищены.<br/>
Копирование материалов сайта запрещено.<br/>
Информация на сайте предоставлена 
исключительно в ознакомительных целях.</p>
</div>
<!-- end footer-->