<div id="header">	
    <div id="tabs">
      <ul>
        <li><%= link_to_pages('Продукция/Услуги', "products") %></li>
        <li><%= link_to_pages('Требования к макетам', "makets") %></li> 
        <li><%= link_to_pages('Контакты',"contacts") %></li>
        <li><%= link_to_pages('Обратная связь',"connect") %></li>
      </ul>
	</div>
    <div id="calc"></div>
</div>
<!-- end header-->
 