<div id="header">	
    <div id="tabs">
      <ul>
        <li><%= link_to_pages('Продукция/Услуги', "products") %></li>
        <li><a href="#" title="Требования к макетам"><span>Требования к макетам</span></a></li> 
        <li><a href="#" title="Контакты"><span>Контакты</span></a></li>
        <li><a href="#" title="Обратная связь"><span>Обратная связь</span></a></li>
      </ul>
	</div>
    <div id="calc"></div>
</div>
<!-- end header-->
 